.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -7rem;
}
.f-content {
  /* padding: 0 2rem; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  width: 100%;
  margin-top: 4rem;
  gap: 4rem;
  color: white;
}
.f-icons {
  display: flex;
  gap: 2rem;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 2.2rem;
}
.i-name > :nth-child(2) {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.list1{   
  display: flex;
  flex-direction: column;
  gap: 5px  ;
}

@media screen and (max-width: 480px){
  
  .i-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 1.2rem;
  }
  .i-name > :nth-child(2) {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .list1{
    display: none;
    flex-direction: column;
    gap: 2px  ;
  }
  .f-content {
    padding: 0 2rem;
 
  }
}
